<section class="card">
  <a href="/goods/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{goods.[0].description}}</p>
    </div>
  </a>
</section>