<section class='card'>
  <a href='/goods/{{id}}'>
    <header>{{name}}</header>

    <div class='card-body'>
      <img
        src='/images/{{filename}}'
        alt='{{description}}'
        width='540'
        height='360'
      />
      <p>{{description}}</p>
    </div>
  </a>
</section>