<section class='card'>
  <a href='/shop/{{id}}'>
    <header>{{name}}</header>
    <img src='/images/{{filename}}' width='540' height='360' />
    <h1>{{description}}</h1>
    {{log 'desc: ' description}}
    {{log 'filename: ' filename}}
  </a>
</section>