<section class='card'>
  <a href='/shop/{{id}}'>
    <header>{{name}}</header>
    <img class="card-img-top img-fluid" src='/image/{{filename}}' />
    <h1>{{description}}</h1>
    {{log 'desc: ' description}}
    {{log 'filename: ' filename}}
  </a>
</section>