<section class="card">
  <a href="/shop/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{shop.[0].filename}}">
    <h1>{{description}}</h1>
  {{log "desc: " description}}
  </a>
</section>