<section class="container">
  <img src="/image/{{goods.filename}}" alt="{{goods.description}}">
  <h3 class="goods-name">{{goods.name}}</h3>
  <section class="flex-row justify-center">
    {{log 'goods: ' goods}}
    
      <p>{{goods.description}}</p>
      <p>{{goods.price}}</p>

  </section>
</section>